@model WebLabApp.Models.User;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<h2>Редактирование пользователя</h2>
<form asp-action="edit" asp-controller="user" asp-route-id="@Model.Id">
    <p>
        <label asp-for="Name">Имя</label><br />
        <input type="text" asp-for="Name" />
    </p>
    <p>
        <label asp-for="Surname">Имя</label><br />
        <input type="text" asp-for="Surname" />
    </p>
    <p>
        <label asp-for="Age">Возраст</label><br />
        <input type="number" asp-for="Age" />
    </p>
    <p>
        <label asp-for="Email">Имя</label><br />
        <input type="text" asp-for="Email" />
    </p>
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>
