<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/css/SharedTemplate.css" asp-append-version="true" />
    </head>
    <body>
        <header>
            <span class="logo">WeatherWebApp</span>
            <nav>
                <a href="/">Главная</a>
                <a href="/user/create">Обратная связь</a>
                <a href="/user/create">Прогноз погоды</a>
            </nav>
        </header>
        <main>
            @RenderBody()
        </main>
    <footer>Лабораторная работа по дисциплине: "Разработка и интегрирование прикладных компонентов систем управления"</footer>
    </body>
</html>
