@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<h2>Отчёт</h2>
<div>
    <p>Лабораторная работа по дисциплине "Разработка и интегрирование прикладных компонентов систем управления" </p>
    <p>Техническое задание:</p>
    <p>
        1) DI<br />
        2) Реализация взаимодействия через интерфейс<br />
        3) Разделение моделей на уровень приложения, представления и базы данных<br />
        4) Реализовано взаимодействия с базой данных через репозитории<br />
        5) Сделан Background service<br />
        6) Реализована страница представления данных<br />
    </p>
</div>